/* *************************************global*************************************** */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primaryColor:rgb(0,0,0);
  --secondaryColor:rgb(184, 182, 176);
  --primarylightColor:rgb(42, 159, 232);
  --primaryBgColor:rgb(252, 249, 241);
  /* lightcolor split complementary */
  --lightColor:rgb(249, 243, 238);
  --lightColor2:rgb(242,248,252);
  --lightColor3:rgb(243,242,252);
  /* darkcolor base #D7B043 Tetradic */

  --darkColorbase: rgb(215,176,67);
  --darkColor: rgb(105,215,66);
  --darkColor2: rgb(66,105,215);
  --darkColor3: rgb(175,66,215);
  /* color variants */
  --darkColor2-varient1: rgb(93,127,221);
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}

/* *************************************body*************************************** */
body{
  background-color: var(--primaryBgColor);
  font-family: 'Playfair Display', serif;

  
  
}

/* *************************************navbar*************************************** */

.nav-center{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  
  height: auto;
  font-size: 2em;

  border-bottom: solid black 1px;
  

}
.nav-links-container{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  height: auto;

}
.nav-link{
  list-style-type:none;
}

.link-component{
  color: var(--primaryColor);
  text-decoration: none;
}
.link-component:hover{
  color: var(--secondaryColor);
  text-decoration: underline;
}

@media screen and (max-width:760px) {
  .nav-links-container {
      width: 80%;
      height: 0;
      background-color: var(--secondaryColor);

      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow:1;

      position: absolute;
      top: 10vh;
      left: 50%;
      transform: translateX(-50%);

      transition: all 0.5s ease-out;
      
      overflow: hidden;
    }

    .link-component:hover {
      color: var(--lightColor);
      text-decoration: underline;
    }

    .OpenMenu{
      height:50%;
    }


}

/* *************************************Hamburger-Menu*************************************** */


.nav-toggle {
  
  padding: 1vw;
  background: transparent;
  border: 1px solid transparent;
  
}

.nav-toggle [class*='bar-'] {
  background: var(--primaryColor);
  display: block;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;

  border-radius: 2px;
  height: 2px;
  width: 25px;
  margin-bottom: 4px;
 
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
  transform-origin: 15% 15%;
}

.opened .bar-mid {
  opacity: 0;
}

.opened .bar-bot {
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 15% 95%;
  transform-origin: 15% 95%;
}

@media screen and (min-width:760px) {
  .nav-toggle{
    display: none;
  }
}
/* *************************************Place Holder*************************************** */
.place-holder{
  width: 100%;
  height: 100vh;
}

/* *************************************Footer*************************************** */

.footer-control{
  width: 100%;
  height: 30vh;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: relative;

  border-top: solid 1px var(--primaryColor);
  padding-top: 1em;
}

.footer-list{
  list-style: none;
}

.footer-copyright{
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.icon{
  font-size: 1em;
  color:var(--primaryColor);
}

.icon:hover{
  font-size: 1.5em;
}

@media all and (max-width:760px) {
  .footer-control {
    flex-direction: column;
    align-items: center;

    height: auto;
    padding-bottom: 1em;
  }

  .footer-copyright {
    
    position: relative;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: none;
  }
}

/* *************************************About*************************************** */
      
  
.about-container{
  width: 100%;
  height: 80vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.about-content-container{
  width: 50%;
  text-align: center;

}

@media all and (max-width:760px) {
  .about-container{
    height: auto;
  }
}
  

/* *************************************Home*************************************** */

/* >>>>>>>>>>>>>>Hero-head>>>>>>>>>>>>>>>> */
.hero-head-container{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

}

.circle-container{
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-image:url(./sources/cute-cat.jpg) ;
  background-repeat: no-repeat;
  
  background-size:cover;
  background-position:center ;
  opacity: 0.9;
  margin: 0;

  

 
  
}

  
  


.horizontal-line{
  height: 2px;
  width: 70vw;
  background-color: var(--primaryColor);

  
}

/* >>>>>>>>>>>>>>Hero-text>>>>>>>>>>>>>>>> */
.hero-text-container{
  height: auto;
  width: 50%;
  
  margin: auto;


}


/* >>>>>>>>>>>>>>Button-container>>>>>>>>>>>>>>>> */
.hero-button-container {
  
  width: 50%;
  height: 20vh;

  margin: auto;

  position: relative;
  
}

.CV-download-btn a{
  text-decoration: none;
}

.CV-download-btn{
  
  
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  
  padding: 1em;
  border: none;
  
  background-color: transparent;
  color: var(--darkColor2);
  font-weight: 900;
}

.CV-download-btn::after, .CV-download-btn::before{
  
  content: "";
  
  position: absolute;
  left:-2px;
  top:-2px;
  
  width:100%;
  height:100%;
  
  border: solid 2px var(--primaryColor);
  
  z-index: -1;
  
  transition: transform 0.3s ease ;
}

.CV-download-btn:hover::after{
  transform: translate(-5px,-5px);
}

.CV-download-btn:hover::before{
  transform: translate(5px,5px);
}

/* >>>>>>>>>>>>>>progressbar>>>>>>>>>>>>>>>> */
.blank-space{
  height: 30vh;
  width: 100%;
}

.skillTitle{
  text-align: center;
  margin-bottom: 1rem;
}

/* *************************************Project*************************************** */


.single-project-container{
  height: 80vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;

  background-color: transparent;
  transition: background-color 1s ease-out;
}

.single-project-container h1{
  font-size: 3rem;
  width: 40%;

  
}

.single-project-image-container{
  width: 25%;
  aspect-ratio: 1/1;

  border: solid 1px var(--primaryColor);
  border-radius: 2%;

  overflow:hidden;

  transition: width 1s ease-out;

}


.project-image{
  width: 100%;
  height: 100%;
  
  object-fit:cover;
  
  opacity: 0.8;
}

/* >>>>>>>>>>>>>>project hover effect >>>>>>>>>>>>>>>> */

.effect .single-project-image-container{
  width: 30%;

}


/* *************************************Contact*************************************** */

.contact-container{
  width: 100%;
  height: 90vh;

  
  display: flex;
  
  align-items: center;
  justify-content: center;

}
.contact-form{
  width: 40%;
  height: auto;
  
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;

  color: red;

  
}

.contact-form label{
  display: block;
}

